<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <a th:href="@{/book/list}">To Book List</a>
    <h1>Dashboard</h1>
    <div class="welcome-message">
        Welcome, <span class="username" th:text="${username}">User</span>!

        <img th:src="@{/images/{img}(img=${avatar})}" alt="User Avatar"/>
    </div>
    <p>This is your dashboard page where you can view your personalized information.</p>
    <!-- Logout form -->
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</div>
</body>
</html>
