<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<h2>Add New Company</h2>
<form th:action="@{/book/save}" th:object="${book}" method="post">
  <input type="hidden" th:field="*{id}"/>
  <label>Name: </label>
  <input type="text" th:field="*{name}" required>
  <label>Author </label>
  <input type="text" th:field="*{author}" required>
  <label>Description </label>
  <input type="text" th:field="*{description}" required>
  <label>Genre </label>
  <input type="text" th:field="*{genre}" required>
  <label>price</label>
  <input type="text" th:field="*{price}" required>
  <label>Publication Year </label>
  <input type="text" th:field="*{publicationYear}" required>
  <label>Quantity </label>
  <input type="text" th:field="*{stockQuantity}" required>
  <select th:field="*{provider}" required>
    <option value="" disabled selected>Select Provider</option>
    <option th:each="prov : ${providers}"
            th:value="${prov}"
            th:text="${prov.providerName}"></option>

  </select>
  <button type="submit">Save</button>
</form>
</body>
</html>